 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About the HHSYC
                   <!--  <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li>
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <%= render 'shared/sidebar_column' %>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <!-- <h2>Section Heading</h2> -->
                
                    <p>
                        The Hip-Hop Summit Youth Council (“HHSYC”) was founded by its Chairman Charles Fisher in July of 2001. The organization was created to help implement the commitments, guidelines and policies made by record companies, artists, community leaders and elected officials at the June 12-13, 2001 Hip-Hop Summit at the Hilton Hotel in New York.  After attending the historic and successful "closed door" event and sitting on its Youth panel, Charles felt a genuine need to establish an Advocacy group that would work towards meeting Hip-Hop's most important challenges, which are to improve the image and unity within the Hip-Hop culture; show our participants how to constructively use their time, talent and the Hip-Hop culture to improve social, political and economic conditions in their school, home and community.
                    </p>
                    <p>
                        Randy Fisher has served as the executive director since 2002 and has provided a ‘hands on’ approach to the needs and aspirations of youths and young adults.  As a 28-year-old seasoned executive he plays a duel role towards fulfilling the organization’s mission.  He has to work in the trenches to earn the respect of young people, but also meet with elected officials, corporate, community, clergy, school staff and community leaders to address their many needs.  Over the years he has earned the loyalty of our youths and young adults by communicating with them on a level they can understand and being there for them when the going gets tough.  As their trusted representative he has the experience and professional skills to bridge the communication gap between our youth and adults so both can work to improve communities nationwide.
                    </p>
                    <p>
                        The multi-billion dollar Hip-Hop industry is the greatest international cultural phenomenon ever created.  It transcends all racial, ethnic, religious and cultural backgrounds and is the way of life for our youth and young adults.  With all the negativity surrounding Hip-Hop many are unaware that Love; Respect; Peace and Unity are the forgotten characteristics that gave birth to its four basic pillars which include: DJ’ing; MC’ing; Breakdancing; and Graffiti.  Collectively, they are the Body & Soul of the culture.  We have established Chapters in schools and communities across the country through the Council of the Great City Schools, which represents 66 cities and districts and 7.5 million public school students nationwide, as well as a host of other private and government agencies.  This strategic alliance coupled with the clout of the Hip-Hop industry gives us the foundation to truly make a difference.
                    </p>
                    <p>
                        America is the greatest country on earth, but is built on a culture that glorifies sex, drugs, guns and violence.  Each has contributed to the decay of our youth and young adults. With Hip-Hop now being taught in schools and universities throughout the country we will use it as an educational tool to teach participants about Drugs, Guns, Gang Violence, HIV/AIDS, Character Education, Politics, Economics and a host of other issues.
                    </p>
                    <p>
                        Celebrities, Professional Athletes, Politicians, Executives, Clergy, Law Enforcement Officers, Community Leaders and Ex-offenders will work together to reinforce the goals of each project and provide prizes and incentives to participants.  Our goal is to “Flip the Script” and start a new trend that uses Hip-Hop to encourage our participants to graduate from school; improve their character; obtain meaningful employment; pursue their Entrepreneurial goals; fulfill their civic duty; and avoid the criminal justice system. As the "Raptivism Movement" grows stronger we will continue to use Hop-Hop as a vehicle to build a movement that works for the safety and positive development of young people.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>