 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">CHARLES V. K. FISHER
                    <small>HHSYC Chairman & Founder</small>
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li> 
                    <li><%=link_to '<< back', company_structure_path %>
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <div class="col-md-3">
                <div class="list-group">
                    <li class="list-group-item"></li> 
                    <img class="img-circle list-group-item" src="assets/charlesfisher.jpg" alt="Charles Fisher photo" width="200" height="200">
                    <li class="list-group-item"></li>
                    
                </div>
            </div>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <!-- <h2>Section Heading</h2> -->
                
                    <p>
                        Charles Fisher was born on November 6, 1954 in Brooklyn New York. He later moved to St.
                        Albans, Queens where he attended Martin Van Buren and Andrew Jackson High Schools as
                        well as York College. His commitment to the community spans over 29 years and includes
                        the creation in 1978 of Youth Enterprise and Associates, a private non-profit organization
                        providing a variety of services to address juvenile delinquency prevention,
                        teen-pregnancy, substance abuse, and literacy awareness. From 1992-1997 he served as
                        the executive director for LL Cool J's Camp Cool J Foundation and during that period he
                        worked as an entertainment consultant to the White House and helped launch President
                        Clinton’s AmeriCorps program.
                    </p>
                    <p>
                        Charles has managed the careers of a host of artists including two-time Grammy award winning recording artist LL Cool J and the Lost Boyz. He also co-discovered and launched the career of two-time Grammy award winning recording artist R. Kelly in 1991 signing him to Jive Records. In 1998 he founded P.O.G. Enterprises, Inc., a multifaceted company that has Food, Management, Marketing, Recording, Film and Publishing divisions. The Film & Music division released the “Game Over” video, which later lead to the ‘Paid in Full” full feature film and the “King of Kings” anti-drug documentary and soundtrack in 2004<!-- (www.KingofKingsDVD.com) -->.
                    </p>
                    <ul>
                        <li>In July of 2001, he founded the National Hip-Hop Summit Youth Council <%= link_to '(www.hhsyc.org)', 'http://www.hhsyc.org/' %>, a non-profit organization founded in Queens and located in New York   City. In its first 5 years
                            the agency has positioned itself to become an effective voice for youth on a host of issues that
                            confront them daily. Their goal is to "change the game" by improving the image and unity
                            within the multi-billion dollar Hip-Hop industry and use its positive influence for the social,
                            political and economic empowerment of our youths and young adults. The Youth Council
                            continues to receive numerous honors for its work including proclamations and awards from
                            U.S. Congressional Representatives Tom DeLay (Majority Leader -TX), Gregory Meeks (NY)
                            and Henry Howard (GA); NYS Senate Minority Leader Malcolm A. Smith; NYC Council member
                            Leroy Comrie; the NYS Assembly; NY City Council; Atlanta Mayor Shirley Franklin; Dekalb
                            County, GA CEO Vernon Jones; Philadelphia Mayor and Hartford Mayor Eddie Perez.</li>
                        <li>1978 – 2001—Founded Youth Enterprises and Associates, Inc., a private, non-profit Juvenile
                            Delinquency Prevention agency located in Jamaica, Queens. The organization later went on to
                            develop and partner with the Camp Cool J Foundation. The organization received numerous awards
                            and proclamations from a host of elected officials for their work with youth including Mayors Koch, Dinkins and Giuliani.</li>
                        <li>1984 – 1989—Worked as a business consultant for Russell Simmons, former Uptown Records CEO
                            Andre Harrell and Cold Chillin’ Records CEO Tyrone Williams, helping them launch their many
                            ventures.</li>
                        <li>1987—Worked as a consultant to secure the historic Warner Brothers/Cold Chillin’
                            Distribution deal, one of the most successful Hip-Hop Labels in History.</li>
                        <li>1991—Co-discovered two-time Grammy Award winning artist R. Kelly signing the artist to a joint
                            venture deal with Jive Records.</li>
                        <li>1991—Worked as the Executive Director for LL Cool J’s Camp Cool J Foundation and as his Spiritual
                            Advisor.</li>
                        <li>1995-1997—Became LL’s Personal Manager and Business partner successfully guiding his career to
                            a host of achievements and awards including: a 2nd Grammy Award; Partnership and endorsement
                            deal with FUBU apparel; NBC/UPN TV show “In the House”; Publishing deal with St. Martin’s Press
                            for the bestseller “I make my own Rules”; Label deal with Warner Records for the Rock the Bells
                            recording company; an endorsement deal with Coke (1st Hip-Hop celebrity to do so); Endorsement
                            deal with Major League Baseball.</li>
                        <li>1995—Worked as a Consultant to F.U.B.U and helped launch what later became the most successful
                            Minority apparel company in the world ($80,000 - $100 million in gross sales in 1 year).</li>
                        <li>1995—Worked as a Consultant to Quincy Jones on the NBC and UPN-TV show “In the House”
                            starring Debbie Allen and LL Cool J.</li>
                        <li>1996—Worked as an Entertainment Consultant to help President Clinton launch his AmeriCorps
                            program.</li>
                        <li>1997—Worked as a Consultant to Michael Jordan on the “Space Jams” movie.</li>
                        <li>1998—Managed Universal recording artists the Lost Boys.</li>
                        <li>1998—Founder, Chairman & CEO of P.O.G. Enterprises launching Film, Recording, Publishing,
                            Management, Marketing & Media, and Natural Herbs divisions.</li>
                        <li>1999—Author of the book “Power of the Prophets: Preparation for Armageddon (1914-2004)”.</li>
                        <li>2000—Released the “Game Over” anti-drug documentary, which lead to the Miramax/Dimension
                            Film “Paid in Full” starring Mekhi Phifer, Wood Harris and Cam’Ron.</li>
                        <li>2001- Present—Founder and Chairman of the National Hip-Hop Summit Youth Council, Inc.
                            <%= link_to '(www.hhsyc.org)', 'http://www.hhsyc.org/' %>.</li>
                        <li>2005 — Released the award winning “King of Kings” anti-Drug documentary and Soundtrack<!-- 
                            (kingofkingsdvd.com) -->.</li>
                        <li>2005 — Helped organize over 200,000 youths for the Millions More March. One week before the
                            event the Hip-Hop Summit Youth Council was selected as the “Model Program” for the Country by
                            the Millions More Movement Executive Committee.</li>
                        <li>2006 — Partnered with 2 United Nations Intergovernmental Agencies, CISRI-ISP and the World
                            Sports Alliance, to combat Poverty, build youth centers and develop programs that address the
                            Millennium Development Goals.</li>
                        <li>2007 — Partnered with the United Nations Millennium Campaign to solicit the support of 43.7
                            million for their 2007 “STAND UP & SPEAK OUT AGAINST POVERTY” initiative to break the 2006
                            Guinness World Record of 23.5 million.</li>
                        <!-- <h6>For more information, go to: www.hsan.org (under YOUTH COUNCIL) or www.kingofkingsdvd.com</h6> -->





                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>