 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Juneteenth
                   <!--  <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><%= link_to 'Home', welcome_path %>
                    </li>
                    <li><%= link_to 'back to Projects', ebobc_path %>
                    </li>
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <%= render 'shared/sidebar_projects' %>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <h3>Juneteenth History</h3>
		
										<p>
											Juneteenth is the oldest known celebration of the ending of slavery and 2015 is a very special year marking 150 years since
											the signing of the historic Emancipation Proclamation (EP). While the EP had freed most slaves as a war measure, it had
											not made slavery illegal. On April 14, 1865 President Lincoln was shot by John Wilkes Booth and 8 months later on
											December 18, 1865 the 13th Amendment, which outlaws slavery and involuntary servitude except as punishment for a crime,
											was passed. The Amendment was passed by the Senate on April 8, 1864, by the House on January 31, 1865, and adopted
											on December 6, 1865. On December 18, Secretary of State William H. Seward proclaimed it to have been adopted. It was
											the first of the 3 Reconstruction Amendments adopted after the American Civil War. President Lincoln and other
											Republicans were concerned that the Emancipation Proclamation, which in 1863 declared the freedom of slaves in 10
											Confederate states then in rebellion, would be seen as a temporary war measure since it was based solely on Lincoln's war
											powers. The Proclamation did not free any slaves in the Border States nor did it abolish slavery. Because of this, Lincoln
											and other supporters believed that the amendment to the Constitution was needed.
										</p>
										<p>
											Dating back to 1865 it was on June 19th that the Union soldiers, led by Major General Gordon Granger, landed at Galveston,
											Texas with news that the war had ended and that the enslaved were now free. Note that this was two and a half years after
											President Lincoln’s Emancipation Proclamation—which had become official January 1, 1863. The EP had little impact on the
											Texans due to the minimal number of Union troops to enforce the new Executive order. However, with the surrender of
											General Lee in April of 1865 and the arrival of General Granger’s regiment, the forces were finally strong enough to influence
											and overcome the resistance.
										</p>
										<p>
											Future attempts to explain this two-and-a-half year delay after receiving this important news have yielded several versions
											that have been handed down through the years. Often told is the story of a messenger who was murdered on his way to
											Texas with the news of freedom. Another is that the news was deliberately withheld by the enslavers to maintain the labor
											force on the plantations. And still another is that federal troops actually waited for the slave owners to reap the benefits of
											one last cotton harvest before going to Texas to enforce the EP. All or none of them could be true. For whatever the reason,
											conditions in Texas remained status quo well beyond what was statutory in modern times. Throughout the 1980’s and 90’s.
										</p>
										<p>
											Juneteenth has enjoyed a growing and healthy interest from communities and organizations throughout the country.
											Institutions such as the Smithsonian, the Henry Ford Museum and others have begun sponsoring Juneteenth-centered
											activities with the mission to promote and cultivate knowledge and appreciation of African-American history and culture.
										</p>
										<p>
											Juneteenth today celebrates African-American freedom while encouraging self-development and respect for all cultures. As
											it takes on a more national and even global perspective, the events of 1865 in Texas are not forgotten, for all the roots tie
											back to this fertile soil from which a national day of pride is growing. The future of Juneteenth looks bright as an increasing
											number of cities and states come on board; the local committees and organizations will help expedite this growth while
											minimizing waste and risk. 42 states and the District of Columbia recognize Juneteenth as a State Holiday or State
											Holiday Observance through a Bill, House Resolution, Senate Resolution or Joint Resolution. It is only a matter of time
											before Congress passes legislation to make “Juneteenth Independence Day” a National Day of Observance like Flag
											Day or Patriot Day. It is through the slave trade that America became the greatest country on earth and African-Americans
											have come a long way, but yet there is a lot of work that has to be done. At the end of the day we want to use this
											celebration as a platform to finally unite us as a nation and keep the “Dream of Dr. King” alive where citizens should be
											judged by the content of their character and not the color of their skin. It is our intent to use Juneteenth and the Hip-Hop
											Culture to: enlighten young citizens about the history of slavery and their civic and social responsibility; address Black on
											Black Crime and put an end to Gun and Gang Violence. Young people this is your “Call to Action” to use your wisdom,
											skills and FREEDOM (which many of us take for granted) to improve public safety and make this a better world for the next
											generation.
										</p>
								</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
	