 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HHSYC Supports the U.N. Millennium Development Goals
                   <!--  <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li>
                    <li><%= link_to 'back to Projects', ebobc_path %>
                    </li> 
                    
                    
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <%= render 'shared/sidebar_projects' %>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <h3 class="stylestatic">Using the Hip-Hop Generation to Empower the United Nations</h3>
                    <ul class="list-group">
                        <h5 class="list-group-item">What are the Millennium Development Goals (MDG's)?</h5>
                        <li class="list-group-item list-style-type="square"">
                            Eradicate extreme poverty and hunger
                        </li>
                        <li class="list-group-item">
                            Achieve universal primary education
                        </li>
                        <li class="list-group-item">
                            Promote gender equality and empower women
                        </li>
                        <li class="list-group-item">
                            Promote youth empowerment & activism
                        </li>
                        <li class="list-group-item">
                            Reduce child mortality & improve maternal health
                        </li>
                        <li class="list-group-item">
                            Combat HIV/AIDS, malaria & other diseases
                        </li>
                        <li class="list-group-item">
                            Ensure environmental sustainability
                        </li>
                        <li class="list-group-item">
                            Develop a global partnership for development
                        </li>
                    </ul>

                    <h5 class="stylestatic">MDG HISTORY</h5>
                    <p>
                        The eight (8) Millennium Development Goals (MDG's) as listed above form a blueprint agreed to in 2000 by 189 United Nations Countries to meet the needs of the world’s poorest countries by 2015. They have galvanized unprecedented efforts to create a New World, which is lead by ethics, values, compassion and equal human rights for all. This is a world, which requires leaders that are committed to a grand vision, in which young people will play a significant role. It is important that we bring awareness to the world, especially our youth and young adults about the existence of the MDG's and why we must all work together to ensure that we meet their goals by 2015.
                    </p>
                    <p>
                        When over a billion people live on less than a dollar a day and another 50,000 are dying daily from extreme poverty it is time to pool our resources together to help those that are less fortunate improve the quality of their life.
                    </p>
                    <p>
                        We are at the halfway point for the deadline and there has been some progress, but overall success is still far from assured.  At the end of the day the success of the goals largely depend on weather developed countries make good on their aid commitments to the worlds poorest countries.  Meeting the goals is a reality but we must develop new innovative strategies to achieve our task.
                    </p>
                    <p>
                        Success will not come overnight because it take time to create a new workforce of professionals that can uplift a nation and provide freedom, justice and equality for all.  With time of the essence we must double our efforts to solicit the support of all citizens that want to be a part of a New World Order that will focus on the implementation and successful completion of the MDG's by 2015.
                    </p>

                    <h2 class="stylestatic">“To whom much is given, much is required”</h2>

                    <ol class="list-group">
                        <h3 class="list-group-item">MDG Project & Campaign Overview</h3>
                        <h5 class="list-group-item">WHAT IS THE PURPOSE?</h5>
                        <li class="list-group-item">To coordinate a Global Awareness Campaign to enlighten the World about the MDG's through the following:
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Public Service Announcements with Celebrities and Professional Athletes
                                </li>
                                <li class="list-group-item">
                                    School/Community Center Visits by Celebrities and Professional Athletes
                                </li>
                                <li class="list-group-item">
                                    Music Concert
                                </li>
                                <li class="list-group-item">
                                    Sports events
                                </li>
                                <li class="list-group-item">
                                    Songs about the MDG's
                                </li>
                                <li class="list-group-item">
                                    Celebrity Educational Documentaries & Motivational Videos about the MDG's
                                </li>
                                <li class="list-group-item">
                                    Special Contest and Raffle Drawings around the MDG's
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            To register 10 million members to support the campaign by the end of Dec. 2008. 
                        </li>
                        <li class="list-group-item">
                            To help the United Nations meet their 2015 mandate for the MDG's.
                        </li>
                        <li class="list-group-item">
                            To conduct a host of fundraising projects with Celebrities and Professional Athletes to help agencies that have programs that address the MDG's
                        </li>
                        <li class="list-group-item">
                            To hold MDG Press Conferences and Summits at the United Nations to support the mission of the project, as well as United Nations Agencies, IGO’s, and NGO’s that are addressing the MDG's.
                        </li>
                        <li class="list-group-item">
                            To support the 2008 United Nations Millennium Campaign’s “STAND-UP & SPEAK OUT” Against Poverty Initiative.
                        </li>
                    </ol>
                        <h4 class="list-group-item">WHAT IS “STAND UP & SPEAK OUT?”</h4>
                        <p>
                            Stand Up and Speak Out against Poverty and Inequality!  Join millions of people from around the world who are working to make a difference. In 2000, world leaders from 189 countries signed up to the Millennium Development Goals (MDG's), a global plan to halve extreme poverty by 2015.  We are now at half time and must step up our game if we are going to win the RACE.  Last year, more than 23 million people in 87 countries stood up and took action to remind them of this promise. It was the largest single coordinated mobilization in the history of the Guinness World Records, but this year the Hip-Hop Community helped break that record with 43.7 million. 
                        </p>
                    
		
										
				</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
	