 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HHSYC
                    <small>founded 2001</small>
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li>  &middot;  
                    <%= link_to "back to About Us", aboutus_path, class: "active" %>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
                <%= render 'shared/sidebar_column' %>
            <!-- Content Column -->
            <div class="col-md-9">
              <div class="stylestatic">
             	 <h3 >Mission Statement</h3>
                <p>
            			The Mission of the Hip-Hop Summit Youth Council (“HHSYC”) is to work as an advocacy group to protect the rights, interest and future of our youths and young adults while addressing a host of issues that confront them daily.  By partnering with schools, the entertainment industry, private and government agencies we have created a unique network that provides the resources to help young people fulfill their social and academic goals.  Through the use of Hip-Hop we have bridged the communication gap between our youths and adults and have earned the trust and respect of both.     
        				</p>
        				<p>
  		            As the Multi-Billion dollar Hip-Hop Culture grows stronger, so does the "Raptivism Movement." It represents the New Social Message behind the Hip-Hop culture.  As we grow as a company Parents, Artists, Executives, Politicians, Clergy, Businessmen and Community Leaders continue to support our work to use Hip-Hop as a tool for enlightenment and social change.  Throughout the years we have created many programs that prepare our participants for the obstacles they will face and the leadership roles they will soon encounter.
        				</p>
        				<p>
  		            To improve the quality of life in our schools and communities we must create an environment that fosters respect, trust and cooperation.  As parents we must take responsibility for the failures and anti-social behavior of our youths and young adults because "It Takes an Entire Village to Raise a Child."  Through our program we will visit schools, youth centers, prisons and housing projects delivering a positive message while offering prizes, awards, grants, scholarships and other incentives that will improve the safety, academic and social development of our youths and young adults.
  		        	</p>
  		        	<h3>Our purpose is to:</h3>
  		        	<ul class="mission_ul">
  		        		<li class="mission_list">Improve the image and unity within the Hip-Hop community, as well as the grades, character and leadership skills of our members.</li>
  		        		<li class="mission_list">Work as an advocacy group with artists, actors, authors, professional athletes, elected officials, clergy and community leaders to address social, political, educational and economic issues that confront our youth each day.</li>
  		        		<li class="mission_list">Monitor the airplay of adult-rated music that is marketed to minors and contain offensive lyrics, negative images, substance abuse, violence and the degradation of women.</li>
  		        		<li class="mission_list">Mediate disputes within the Hip-Hop industry at schools and in the community before they escalate to crime and violence.</li>
  		        		<li class="mission_list">Coordinate workshops with artists to educate them on their social responsibilities to their company, family and community.</li>
  		        		<li class="mission_list">Coordinate workshops to educate the media, community residents, elected officials, clergy, teachers, and businesses on the history of the Hip-Hop culture.</li>
  		        		<li class="mission_list">Produce PSAs with artists that address the social concerns of our youth.</li>
  		        		<li class="mission_list">Provide scholarships, awards and other incentives to students, artists, celebrities, executives, elected officials, community leaders and individuals that are incarcerated.</li>
  		        		<li class="mission_list">Use Hip-Hop as a vehicle to establish an open line of communication which will help improve relations between parents, teachers, elected officials, the clergy, law enforcement agencies and our youth.</li>
  		        		<li class="mission_list">Establish ongoing dialogue between our youth in the U.S. and their peers abroad that will help reduce war, poverty and violence.</li>
  		        		<li class="mission_list">Establish Divisions or Branch Chapters that will help our members acquire the leadership skills, contacts and resources needed to improve the quality of their life as well as conditions in their school and community.</li>
  		        		<li class="mission_list">To register 10 million new voters by the end of 2016.</li>
  		        		<li class="mission_list">To promote the United Nations Millennium Development Goals and the International Decade for a Culture of Peace and Non-violence for the Children of the World.</li>
  		        		<li class="mission_list">Support our men and women who are enrolled in the military and/or deployed in war zones.</li>
  		        	</ul>
              </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>