 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">RANDY FISHER
                    <small>HHSYC Executive Director </small>
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li> 
                    <li><%=link_to '<< back', company_structure_path %>
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <div class="col-md-3">
                <div class="list-group">
                    <li class="list-group-item"></li> 
                    <img class="img-circle list-group-item" src="assets/randyfisher.jpg" alt="Randy Fisher photo" width="200" height="200">
                    <li class="list-group-item"></li>
                    
                </div>
            </div>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <!-- <h2>Section Heading</h2> -->
                
                    <p>
                        Randy Fisher, born April 3, 1979 was born into Hip-Hop and has been involved in the
                        non-profit business since he started working. As an adolescent in South Jamaica,
                        Queens, NY he would often volunteer his services after school and during the summer
                        toward his father’s non-profit organization. His day-to-day activities would include
                        voter registration, hanging up campaign flyers for local elected officials, or just getting
                        the food for the staff. He graduated from August Martin HS where he received his
                        Regent’s Diploma and went on to attend New Jersey Institute of Technology.
                    </p>
                    <ul>
                         <li>   1995, he worked as a consultant for LL Cool J, Inc. while his father was LL’s manager. He would talk to LL about his image on the streets and give him advice on how to stay “hip and up-to-date.” During this time he also consulted with LL on the different activities that he could offer participants of Camp Cool J to make their camping experience more memorable.</li>
                        <li>1998 Randy was appointed the Vice-President of P.O.G. Enterprises, Inc. which has six
                            divisions: Film; Management; Food services; Marketing & Media; Publishing and a Record
                            company which is distributed by Lightyear/WEA. He has overseen many of P.O.G.’s releases including the “Power of the Prophets: Preparation for Armageddon” book that P.O.G. Publishers released in 1999, the “Game Over” documentary that P.O.G. Films released in 2000 and El Gant’s album “It’s Over” which P.O.G. Records released in 2001.</li>
                        <li>In 1998 P.O.G. Management was contracted by Universal Recording artists the Lost Boyz.
                            Randy was in charge of the day-to-day activities that coincide with managing a major recording group such as setting up show dates, booking studio time and helping the group select songs for their albums. In 1999 the Lost Boyz went on to release “LB IV Life” which has attained RIAA gold status.</li>
                        <li>2001 was a busy year for Randy. Not only did he act as a consultant for NBC’s TV show “God,
                            the Devil, & Bob” but he also assisted FUBU by giving them content and comments on their
                            multimedia website Y2G.com. This website received 100,000 hits per month and was a major
                            part of FUBU keeping its edge on the fashion industry. 2001 is also the year that the Hip-Hop
                            Summit Youth Council (www.HHSYC.org) was established, a non-profit organization that uses
                            the positive influence of Hip-Hop to socially, politically and economically empower our youth.
                            In August he coordinated the first Hip-Hop Youth Summit and in December he coordinated the
                            second Youth Summit which was attended by Dr. Ben Chavis, president of the Hip-Hop Summit
                            Action Network. This lead to Fisher coordinating the “Dream of King” Youth Summit in January
                            2002, which was attended by Sony recording artist Nas along with Russell Simmons, Reverend
                            Run, Power 105 Radio personality Ed Lover, Congressman Greg Meeks, State Senator Malcolm
                            Smith and Dr. Chavis at York College. </li>
                        <li>With their alliance stronger than ever the Hip-Hop Summit Youth Council and Russell
                            Simmons’ Hip-Hop Summit Action Network then went on to coordinate more blockbuster
                            rallies. This included the rally against Mayor Bloomberg’s Educational Budget cuts that
                            was held in City Hall June 2002. This rally, co-coordinated between the Hip-Hop
                            Summit, the United Federation of Teachers and the Alliance for Quality Education was
                            attended by over 100,000 students, teachers and celebrities including Cynthia Nixon, LL
                            Cool J, Alicia Keys, Wyclef Jean and more. This also included the “Countdown to
                            Fairness” rally against the Rockefeller Drug Laws held in June 2003 and the Latino HipHop
                            Summit held in July 2004. The Hip-Hop Summit has registered over 1 million new,
                            young voters from 2003 to 2004 nationwide.</li>
                        <li>
                             In November of 2002 Fisher coordinated the launch of the Hip-Hop Summit Youth
                            Council’s “Hip-Hop 4 Peace” project in light of Run DMC DJ Jam Master Jay being
                            senselessly murdered. The project includes Gun, Prison and Drug Law reform coalitions
                            in which Congressman Meeks, Senator Malcolm Smith and Councilman Comrie are
                            members along with Public Enemy’s Chuck D and street legend Pee Wee Kirkland. In
                            that same month Fisher along with the NBA’s Washington Wizards and the Council of the
                            Great City Schools (www.CGCS.org) launched “Project Rebound” in which selected
                            students in the Washington, DC area were invited to watch the game and meet the
                            players in the locker room.</li>
                        <li>In 2003 Randy was made a Director of the Jam Master Jay Foundation for Youth. His
                            first assignment was to try to get Hollis Avenue renamed Jam Master Jay Way. City
                            legislators are still working with the Foundation on this project. He also coordinated a
                            memorial for Jay, which was attended by select friends and family, Russell Simmons, Dr.
                            Chavis and a host of hip-hop artists. This event was held in the Queens Central Library,
                            which happens to be across the street where Jay was killed. After the event Fisher had
                            everybody go across the street for a candlelight vigil in front of the building where Jay’s
                            body was found.</li>
                        <li>In 2004 Randy was made Assistant Coordinator of CUNY/York College’s “Entertainment
                            Business” programs. Some of the classes in the program include “How to Start a Record
                            Label”, “Music Marketing and PR”, “Audio Engineering”, and “Video Technology.”
                            Students from the “Video Technology” class have assisted in the filming of the “King of
                            Kings” DVD which features Russell Simmons, Jay-Z, P.Diddy and Fat Joe. This is also the
                            year that Fisher coordinated the Southeast Queens Olympics. He handled the day-to-day
                            operations from February through the end of the Games in August to make sure that
                            over 2,500 kids competed in 8 events in over 5 different parks in the South Queens
                            area. The Games were opened up by Queens Boro President Helen Marshall who also
                            gave a Proclamation along with Mayor Bloomberg. Senator Charles Schumer and
                            Assemblyman Scarborough also made an appearance at the Games.</li>
                        <li>Randy’s dedication to the kids along with his knowledge and experience in the music and
                            social services industries keeps him motivated to keep striving towards improving his
                            community. He often speaks at school assemblies or at youth conferences and can
                            always be seen giving out books at Summits.</li>
                            <h5>Accomplishments</h5>
                        <li>1998: Assisted in the purchase and management of Camp Celebrity in Fleischmans, NY,
                            a year-round camp for youth 6-16 years old, which is now expanding its services by
                            working with the Urban League and a host of organizations to open an HIV/AIDS unit for
                            individuals and their families to enjoy a year-round camping experience.</li>
                        <li>1998: Appointed Vice President of P.O.G. Enterprises, Inc. which has six divisions:
                            P.O.G. Films, P.O.G. Foods, P.O.G. Management, P.O.G Marketing & Media, P.O.G.
                            Records (distributed by Lightyear/WEA), and P.O.G. Publishers (has an imprint deal with
                            St. Martin’s Press).</li>
                        <li>June 1998 – January 1999: Assisted in the management of the Lost Boyz
                             1999: Co-edited the P.O.G. Publishers book “Power of the Prophets: Preparation for Armageddon
                            (1914-2004)”.</li>
                        <li>2000: Served as a consultant and co-editor for the P.O.G. Films docu-drama “Game Over (Pt. 1)”</li>
                        <li>2001: Consultant for NBC television show “God, the Devil & Bob”.</li>
                        <li>2001: Consultant for FUBU’s multimedia website Y2G.com.</li>
                        <li>June 2001: Assisted in the founding of the Hip-Hop Summit Youth Council.</li>
                        <li>July 2001: Appointed the President of P.O.G. Records.</li>
                        <li>August 2001: Coordinated the first Hip-Hop Youth Summit at York College.</li>
                        <li>September 2001: Released P.O.G. Records’ first album “It’s Over” by El Gant.</li>
                        <li>September 2001: Co-coordinated the anti-drug Youth Summit at August Martin HS with DESAS</li>
                        <li>December 2001: Coordinated the second Hip-Hop Youth Summit in association with the
                            Hip-Hop Summit Action Network and Dr. Ben Chavis.</li>
                        <li>January 2002: Coordinated the first “Dream of King Youth Summit” attended by Russell
                            Simmons, Rev. Run, Nas, Dr. Ben Chavis, Ed Lover, Congressman Greg Meeks and
                            Senator Malcolm Smith at York College.</li>
                        <li>April 2002: Appointed Director of Special Projects of the Hip-Hop Summit Youth Council.</li>
                        <li>June 2002: Assisted the Hip-Hop Summit Action Network and the United Federation of
                            Teachers in the June rally against Mayor Bloomberg’s school budget cuts attended by
                            Alicia Keys, LL Cool J, Sean “P.Diddy” Combs, Jay-Z, Cynthia Nixon, Wyclef Jean, and
                            over 100,000 youths and teachers.</li>
                        <li>November 2002: Assisted in the launch of the “Hip-Hop 4 Peace” Project with Chuck D,
                            Pee Wee Kirkland and 98.7 radio personality Fred Buggz. The project was launched after
                            the death of Hip-Hop Icon Jam Master Jay.</li>
                        <li>November 2002: Launched “Project Rebound” with the Washington Wizards and the
                            Council of the Great City Schools in Washington, DC.</li>
                        <li>January 2003: Promoted to Executive Director of the Hip-Hop Summit Youth Council.</li>
                        <li>April 2003-January 2004: Director of the Jam Master Jay Foundation for Youth. My
                            first assignment was to get petitions to get Hollis Avenue changed to “Jam Master Jay
                            Way”.</li>
                        <li>June 2003: Assisted the Coalition for Fairness with their coordination of the Rockefeller
                            Drug Law Rally at City Hall which was attended by a host of Hip-Hop notables including
                            50 Cent, Busta Rhymes, Jay-Z, P. Diddy, Fat Joe, Mariah Carey and Erykah Badu.</li>
                        <li>October 2003: Coordinated the Jam Master Jay Memorial event which was attended by
                            Russell Simmons and Dr. Chavis along with Jay’s mother, brother, sister and other family
                            members.</li>
                        <li>2004: Assistant Coordinator of CUNY/York College’s Entertainment Business Programs
                            which contain 8 different courses.</li>
                        <li>February 2004: Administrative Coordinator of the Southeast Queens Olympics.
                             2005: Associate Producer of the “King of Kings” documentary featuring Russell
                            Simmons, P. Diddy, Jay-Z and Fat Joe and co-producer of the soundtrack which features
                            50 Cent, R.Kelly and Mr. Cheeks.</li>
                        <li>2006: Launched the "Hip-Hop 4 Peace" school tour in conjunction with Bad Boy Records.
                            The tour included Yung Joc visiting a Queens high school, Cassie receiving a proclamation
                            from the Mayor of Hartford, CT and Sean "Diddy" Combs visiting a high school in
                            Philadelphia and also receiving the Liberty Bell from the Mayor of Philly.</li>
                        <li>October 2007—Helped the United Nations Millennium Campaign solicit the support of
                            38.7 million for their 2007 “STAND UP & SPEAK OUT AGAINST POVERTY” Initiative to
                            break the 2006 Guinness World Record of 23.5 million.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>