	<div >
     <%= image_tag @announcement.image_url(:medium).to_s %>    
  </div>

	<h3 >
		<%= @announcement.ann_title %>
	</h3>
	<p >
		Submitted <%= time_ago_in_words(@announcement.created_at) %> ago.
	</p>


	<p >
		<%= simple_format(@announcement.ann_body) %>
	</p>