	<div >
     <%= image_tag @blog.image_url(:medium).to_s %>    
    </div>

	<h3 >
		<%= @blog.blog_title %>
	</h3>
	<p>
		Submitted <%= time_ago_in_words(@blog.created_at) %> ago.
	</p>

	<p >
    <%= simple_format(@blog.blog_body) %>
    </p>