<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HHSYC - Administrators View
                    <!-- <small>founded in 2001</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Admin Home Page', adminfisher_path %>
                    </li>  
                    <ul>
                          <li class="go-right">
                              <%= link_to "Logout", destroy_admin_session_path, class: "active", method: :delete %>
                           </li>
                     </ul>
                </ol>
            </div>
        </div>