<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About the HHSYC
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li>
                    <li class="active">Sidebar Page</li>
                </ol>
            </div>
        </div>