<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "EBOBC Project", ebobc_path, class: "list-group-item" %>
                    <%= link_to "Juneteenth", juneteenth_path, class: "list-group-item" %>
                    <%= link_to "Millennium Development Goals", mdg_path, class: "list-group-item" %>
                    <%= link_to "E Team Members", eteam_path, class: "list-group-item" %>
                                      
                    
                    
                    
                </div>
            </div>