// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$p-font-color: #FFF;
 $bg-wht-color: #e8e8e8;
 $shadow-color: #444444;